version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: local_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      # This ensures your data persists even if you restart Docker
      - mongo_data:/data/db

volumes:
  mongo_data: